<!DOCTYPE html>
<html>
  <head>
    <title>Marks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <div style="text-align: right">
        <%= current_user || 'User is not logged in' %>
      </div>
    <% end %>
    <% if flash[:notice]  %>
      <div style="background-color: lemonchiffon">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
